#container-box{
  margin-top:10%;
  margin-left: auto;
  margin-right: auto;
  width: 400px;
  height: 200px;
}

#display-box {
  background-color: #3399FF;
  border: 2px solid;
  border-color: #0D3F8A;
  border-radius: 25px;
  width: 100%;
  height: 100%;
}

#first-row {
  height: 20%;
  width: 100%;
//  border: 1px solid;
}

#second-row {
  height: 70%;
  width: 100%;
//  border: 1px solid;
}

#currency-display {
  border: 2px solid;
  margin-top: 10px;
  margin-left: 5%;
  width: 40%;
  background-color:#ffffff;
  height:70%;
}

#bid-window {
  border: 1px solid;
  margin-top: 10px;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 20px;
  width: 40%;
  height:80%;
  background-color:#ffffff;
  display: inline-block;

}

#ask-window {
  border: 1px solid;
  margin-top: 10px;
  margin-left: 5%;
  margin-bottom: 20px;
  width: 40%;
  height:80%;
  background-color:#ffffff;
  display: inline-block;
}

.txt-section {
  height: 60%;
}

.btn-section {
  height: 40%
}

.border-green {
 border-color: green;
 border: 1px solid;
}

.border-red {
 border-color: red;;
 border: 1px solid;
}

.currency-display {
 font-size: 14px;
 //font-weight: bold;
 font-family: Arial;
 color: #000000;
 text-decoration: none;
 margin-left: 40px;
}

.buy{
 background-color: #33CC33;
}
.sell{
 background-color: #D63030;
}

.modal-body {
  overflow-y: scroll;
  max-height: 400px;
}
.alertText{
  font-size: .8em;
  font-family: Arial;
  padding: 2px;
  color: #ffffff;
  text-align: center;
}
.partA{
 font-family: monospace;
 font-size: 1.3em;
}
.partB{
  font-family: monospace;
  font-size:3.0em;
  color:#d11919;
}
.priceLocation{
  height: 100%;
  margin-bottom: 0%;
  padding-bottom:5%;
  padding-top: 10%;
  text-align: center;
}
