<html ng-app="app">
  <title>Forex - by Shreya Vakil</title>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="./style/main.css">

  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.21/angular.min.js"></script>
  <script src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.11.0.js"></script>

  <script src="./client/app.js"></script>
  <script src="./controllers/alertCtrl.js"></script>


  </script>
  <body ng-controller="mainCtrl">
    {{test.bid}}
    <div id="container-box">
      <div id="display-box">
        <div id="first-row">
          <div id="currency-display">


            <span class="dropdown" on-toggle="toggled(open)">
              <a href class="dropdown-toggle">
                <span class="currency-display">{{activeCurrency}}</span>
              </a>
              <ul class="dropdown-menu">
                <li ng-repeat="choice in currencies">
                  <a href="#" ng-click="updateActiveCurrency(choice)">{{choice}}</a>
                </li>
              </ul>
            </span>



          </div>

        </div>

        <div id="second-row">

          <div id="bid-window">
            <div class="txt-section">
              <div id="lastTwo" class="demo">
                <span>{{current.bidPrice}}</span>
              </div>
            </div>
            <div class="btn-section">
              <button class="btn btn-sm btn-success center center-block" ng-click="alertModal('Buy',current.bidPrice)">Bid</button>
            </div>
          </div>

          <div id="ask-window">

            <div class="txt-section">
              <supplement-height>{{current.askPrice}}</supplement-height>
            </div>
            <div class="btn-section">
              <button class="btn btn-sm btn-danger center-block" ng-click="alertModal('Sell',current.askPrice)">Ask</button>
            </div>
          </div>

        </div>


      </div>
    </div>

</body>
</html>
